:root {
    --color-snow: #FEFFFA;
    
    --color-gold: #877032;
    --color-khaki-dark: #D2B568;
    --color-black1: #1E1E1E;
    --color-grey-dark: #B3B3B3;

    --color-logoW: #f5f5f5;
    --color-logoB: var(--color-black1);
    
    --font-Roboto: Roboto, Tahoma, Geneva, Kalimati, sans-serif;
    --width-contacts: 340px;
    --flex-gap-min: 1rem;
}

body {
    margin: 0 auto;
    line-height: 1.15;
    font-family: var(--font-Roboto);
    font-style: normal;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

h2, p {
    margin: 0;
}
.container {
    --pad-container: clamp(1rem, -3.8462rem + 13.4615vw, 6.25rem);/*576 - 18px 1920px - 100px*/
    margin-inline: auto;
    max-width: 1920px;
    padding-left: var(--pad-container);
    padding-right: var(--pad-container);
    /* border: 2px solid red; */
}

.section {
    width: 100%;
    --margin-section-bottom: clamp(3.125rem, -2.6442rem + 16.0256vw, 9.375rem); /*576 - 50px 1200px - 150px*/
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: clamp(1.875rem, -2.1635rem + 11.2179vw, 6.25rem);; /*576 - 30px 1200px - 100px*/
    margin-bottom: var(--margin-section-bottom);
}


/* всі великі*/
.text-uppercase {
    text-transform: uppercase;
}

/* Перша велика*/
.text-capitalize {
    text-transform: capitalize;
}

.font-size_2 {
    font-weight: 500;
    font-size: clamp(1.5rem, 0.1154rem + 3.8462vw, 3rem); /*576 - 24px 1200px - 48px*/
}

.font-size_4 {
    font-weight: 400;
    font-size: clamp(0.875rem, 0.2981rem + 1.6026vw, 1.5rem); /*576 - 14px 1200px - 24px*/
}

.title {
    text-align: center;
    color: var(--color-black1);
}

[data-color="white"] {
    color: var(--color-logoW);
}

[data-color="black"] {
    color: var(--color-logoB);
}


