:root {
    --color-snow: #FEFFFA;
    --color-gold: #877032;
    --color-khaki-dark: #D2B568;
    --color-black1: #1E1E1E;
    --color-grey-dark: #B3B3B3;

    
    --font-Roboto: Roboto, Tahoma, Geneva, Kalimati, sans-serif;
}

body {
    margin-inline: auto;
    line-height: 1.15;
    font-family: var(--font-Roboto);
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

h2, p {
    margin: 0;
}
.container {
    --pad-container: clamp(1.125rem, -2.0893rem + 8.9286vw, 8.625rem);/*576 - 18px 1920px - 100px*/
    margin-inline: auto;
    max-width: 1720px;
    padding-left: var(--pad-container);
    padding-right: var(--pad-container);
    /* border: 2px solid red; */
}

.section {
    width: 100%;
    --margin-section-bottom: clamp(3.125rem, -2.6442rem + 16.0256vw, 9.375rem); /*576 - 50px 1200px - 150px*/
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: clamp(1.875rem, 0.7212rem + 3.2051vw, 3.125rem); /*576 - 30px 1200px - 50px*/
    margin-bottom: var(--margin-section-bottom);
}


/* всі великі*/
.text-uppercase {
    text-transform: uppercase;
}

/* Перша велика*/
.text-capitalize {
    text-transform: capitalize;
}

h2 {
    font-weight: 500;
    font-size: clamp(1.5rem, 0.1154rem + 3.8462vw, 3rem); /*576 - 24px 1200px - 48px*/
    text-transform: uppercase;
    text-align: center;
    color: var(--color-black1);
}

h4 {
font-size: clamp(0.875rem, 0.2981rem + 1.6026vw, 1.5rem); /*576 - 14px 1200px - 24px*/
}

@media screen and (max-width: 576.98px) {
.container {
    /*575 - 49px 390px - 20px*/
    --pad-container: clamp(1.25rem, -2.5709rem + 15.6757vw, 3.0625rem);
}
.section {
    --margin-section-bottom: clamp(3.125rem, -3.3311rem + 26.4865vw, 6.1875rem); /*576 - 100px 390px - 50px*/
}
}
