---
// const NumberTel = 18476710065;
import {NumberTel} from "./NumberTel.astro";
---
<a href=`sms:${NumberTel}` class="btn">
    Book now
  </a>


<style>
    .btn {
        display: inline-block;
        width: max-content;
        font-family: var(--font-Roboto);
        font-weight: 500;
        font-size: 16px;
        color: var(--color-logoW);
        border-radius: 30px;
        padding: 16px 58px;
        background: var(--color-gold);
        outline: none;
        border: none;
        text-align: center;
        transition: all 0.7s;
    }

    .btn:hover {
        background: var(--color-khaki-dark);
    }


    @media screen and (max-width: 575.98px) {
        .btn {
            font-size: 12px;
        }
    }
</style>