---
import { Icon } from "astro-icon/components";
const { class: className } = Astro.props;

const NumberTel = 18476710065;
---

<a href=`sms:${NumberTel}` class="btn">
  <p>Book now</p>

  <div class="icon-background transition">
    <Icon name="arrow-btn" />
  </div>
</a>

<style>
  .transition {
    transition: all 0.5s;
    cursor: pointer;
  }
  .btn {
    --button-h: 50px;
    display: flex;
    justify-content: start;
    align-items: center;

    position: relative;
    width: 190px;
    height: var(--button-h);
    white-space: nowrap;
    font-size: var(--font-Roboto);
    font-weight: 600;
    color: var(--color-black1);
    border: 1.57px solid var(--color-gold);
    border-radius: calc(var(--button-h) - 2px);

    background: rgba(255, 255, 255, 0.6);
    padding-left: 45px;
  }
  .btn:hover {
    border: 1.57px solid var(--color-khaki-dark);
  }

  .btn:hover .icon-background {
    background-color: var(--color-khaki-dark);
  }

  .icon-background {
    width: calc(var(--button-h) - 6px);
    height: calc(var(--button-h) - 6px);
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 2px;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 50%;
    background-color: var(--color-gold);
  }

  [data-icon="arrow-btn"] {
    width: calc(32% * var(--button-h));
    height: calc(32% * var(--button-h));
  }

  @media screen and (max-width: 575.98px) {
    .btn {
    --button-h: 32px;
    width: 135px;
    height: var(--button-h);
    font-size: 10px;
    font-weight: 500;
    padding-left: 40px;
  }
  }
</style>
