---
import { Icon } from 'astro-icon/components';

const { class: className} = Astro.props;

interface Color {
	color: string;
}

const { color } = Astro.props as Color;

interface Icons {
	width?: number;
	height?: number;
}
const { width, height} = Astro.props as Icons;

const tel = 18476710065;
---

<a class:list={[className, "tel font-size_4 pulse-button"]} data-color={color} href=`tel:+${tel}` aria-labelledby="phone">
    <Icon name = "phone" width={width} height={height}/>
    <p id="phone">(847) 671 0 065</p>
</a>
<style>


    .tel {
        display: flex;
        align-items: center;
        font-family: var(--font-Roboto);
        font-style: normal;
        transition: color 0.7s;
        text-decoration: none;
        /* gap: 20px; */
    }

    .tel p {
        text-wrap: nowrap;
    }

    .tel:is(:hover, :focus) {
        color: var(--color-khaki-dark);
    }

    [data-icon="phone"] {
        height: auto;
    }

    .header-nav [data-icon="phone"] {
        display: none;
    }

    .header-nav {
        font-weight: 700;
        font-size: clamp(0.875rem, 0.6536rem + 0.4619vw, 1rem); /* 1200-16; 767 - 14*/
        color: var(--color-logoW);
        background-color: var(--color-gold);
        padding: clamp(0.5rem, -0.3857rem + 1.8476vw, 1rem) clamp(1.125rem, -0.8678rem + 4.157vw, 2.25rem); /* 1200-16; 767 - 8*/ /* 1200-36; 767 - 18*/
        border-radius: clamp(1rem, -0.5499rem + 3.2333vw, 1.875rem); /* 1200-30; 767 - 16*/
        transition: background-color 0.7s, box-shadow .3s;
    }

            @keyframes pulse {  
        0% {  
            box-shadow: 0 0 0 0 rgba(210, 181, 104, 0.4);  
        }  
        70% {  
            box-shadow: 0 0 0 4px rgba(210, 181, 104, 0.8);  
        }  
        100% {  
            box-shadow: 0 0 0 0 rgba(210, 181, 104, 1);  
        }  
        }  

    .header-nav.pulse-button {
        animation: pulse 1.5s infinite;
        }

    .header-nav:is(:hover, :focus) {
        color: var(--color-logoW);
        background-color: var(--color-khaki-dark);
    }

    .contacts-address {
        column-gap: 20px;
    }

    .contacts-address [data-icon="phone"] {
        width: clamp(1.625rem, 0.2404rem + 3.8462vw, 3.125rem);
    }

    .footer-address {
        font-weight: 400;
        column-gap: 14px;
    }

    .footer-address [data-icon="phone"] {
        width: clamp(1.375rem, 0.1635rem + 3.3654vw, 2.25rem);/* 992-24; 576 - 16*/
    }


    @media screen and (max-width: 575.98px) {

        .header-nav {
font-weight: 500;
font-size: 10px;
        }
        .footer-address {
            font-weight: 500;
            column-gap: 10px;
            font-size: clamp(1rem, 0.3077rem + 1.9231vw, 1.5rem);
            /* 992-24; 576 - 16*/
        }

        .contacts-address {
            column-gap: 12px;
        }
    }
</style>